/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: var(--blush-white);
  --bg-image: var(--bg-lght-image);
  --theme-menu-color: var(--charcoal-black);
  --theme-menu-hover-color: var(--transparent-gray-40);
  --text-color: var(--charcoal-black);
  --title-color: var(--pastel-rose);
  --title-shadow: var(--vivid-pink);
  --decored-text-color: var(--charcoal-black);
  --decored-bg-color: var(--vivid-pink);
  --section-title-cxolor: var(--charcoal-black);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: var(--blush-white);
    --bg-image: var(--bg-lght-image);
    --theme-menu-color: var(--charcoal-black);
    --theme-menu-hover-color: var(--transparent-gray-40);
    --text-color: var(--charcoal-black);
    --title-color: var(--pastel-rose);
    --title-shadow: var(--vivid-pink);
    --decored-text-color: var(--charcoal-black);
    --decored-bg-color: var(--vivid-pink);
    --section-title-cxolor: var(--charcoal-black);
  }

  .rec {
    display: none;
  }
}
